/*

 _________ ____	.-. _________/ ____ .-. ____
 __|__	(_)_/(_)(	 )____<	\|	(	 )	(_)
				 `-'				 `-'

 libre video game bazaar

 ____________________________________	?	 ____________________________________
									 (._.)


 Copyright (c) 2018 Simone Niquille (technofle.sh) and François Zajéga (frankiezafe.org)
 All rights reserved. 
 
 This file is part of Sisyphus (sisyphus.technofle.sh), an absurd ergonomic simulation producing chairs.
 
 Released under MIT and CC by-nc-sa 4.0, see https://gitlab.com/frankiezafe/sisyphus/ for details.

 MIT License

 Permission is hereby granted, free of charge, to any person obtaining a copy of this
 software and associated documentation files (the "Software"), to deal in the Software
 without restriction, including without limitation the rights to use, copy, modify, merge,
 publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons
 to whom the Software is furnished to do so, subject to the following conditions:

 The above copyright notice and this permission notice shall be included in all copies or
 substantial portions of the Software.

 THE SOFTWARE IS PROVIDED *AS IS*, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
 INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
 PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
 FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
 OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
 DEALINGS IN THE SOFTWARE.

 ___________________________________( ^3^)_____________________________________

 ascii font: rotated by MikeChat & myflix
 have fun and be cool :)

*/

@font-face {
		font-family: 'lincolnmitrelm';
		/* src: url('../fonts/lincolnmitre-lm-webfont.woff2') format('woff2'),
				 url('../fonts/lincolnmitre-lm-webfont.woff') format('woff'); */
		src: url('../fonts/lincolnmitre-lm-webfont.ttf');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'space_monoregular';
		/* src: url('../fonts/spacemono-regular-webfont.woff2') format('woff2'),
				 url('../fonts/spacemono-regular-webfont.woff') format('woff'); */
		src: url('../fonts/spacemono-regular-webfont.ttf');
		font-weight: normal;
		font-style: normal;
}

/* COMMON */

html, body {
	height: 100%;
}


body,
div.dg {
		font-family:lincolnmitrelm;
	background: #000;
}

body {
	color: #fff;
	font-size:1em;
	text-align:center;
	background-color: #fff;
	margin: 0px;
	overflow: hidden;
}

a {
	outline: 0;
}

#ui {
	z-index: 10000;
	right: 0px;
}

@keyframes splash_bg_anim {
	0% {
		opacity: 0;
		height:0%;
	}
	100% {
		opacity: 1;
		height:100%;
	}
}

#splash {
	z-index: 10002;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width:100%;
	height:100%;
	background-color: #000;
}

#splash .splash_bg {
	z-index: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width:100%;
	height:100%;
	background-repeat: no-repeat;
	background-position: center center;
	animation-name: splash_bg_anim;
	animation-duration: 6s;
	animation-iteration-count: 1;
	background-image: url('../textures/splash_bg_fullhd.jpg');
}

#splash .splash_title_bg {
	z-index: 2;
	position: absolute;
	width: 100%;
	top: 75%;
	color: #f00;
	padding: 3px 0 0 2px;
}

#splash .splash_title {
	z-index: 3;
	position: absolute;
	width: 100%;
	bottom: 10%;
}

#splash h1 {
	font-size: 4.6em;
	margin: 0 0 0.4em 0;
}

#splash .splash_warning {
	position: absolute;
	width: 100%;
	top: 30px;
	color: #f00;
	font-size:1.2em;
}

#splash .biohazard {
	display: inline-block;
	font-size:1.5em;
	overflow: hidden;
	margin: 0 10px 0 10px;
	vertical-align: middle;
}
#splash .biohazard img {
	width: 1.0em;
	height: 1.0em;
}


#question {
	z-index: 10001;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width:100%;
	height:100%;
	background: #000;
	color: #fff;
	text-align:left;
	overflow: hidden;
	visibility: hidden;
}

#question_link {
	position: absolute;
	display:block;
	right: 0px;
	bottom: 0px;
	margin: 1em 50px;
	font-size: 2.5em;
}

#question_link a {
	text-decoration: none;
	color: #fff;
}

#question_canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	background: #000;
}

#container {
	cursor: crosshair;
}

#ui_3d {
	z-index: 10001;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 0;
	overflow: visible;;
	visibility: hidden;
}

#about_panel button,
#inventory_panel button,
#inventory_preview button,
#ui_3d button,
#display_info
{
	margin: 0;
	border: none;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	background: #000;
	display:block;
	padding:4px;
	cursor: pointer;
	outline: 0;
}

.goto_about,
.goto_back_left,
.goto_back_right,
.goto_gallery,
.goto_share,
#toggle_camera {
	position: fixed;
	top: 20px;
	left: 20px;
	white-space: nowrap;
	z-index: 1000;
}

.goto_about button,
.goto_gallery button,
#toggle_camera button {
	padding: 10px !important;
}

.goto_gallery,
#toggle_camera { 
	left: 50%; 
	right: 50%;
	margin-left: -80px;
}
.goto_back_right,
.goto_gallery { 
	left: auto; 
	right: 20px;
}

.goto_back_right
{
	margin-right: 13px;
}

.goto_back_left button,
.goto_back_right button
{
	padding: 4px 7px !important;
}

.goto_share { left: auto; right: 20px; visibility: hidden; }

#about_panel,
#inventory_panel,
#inventory_preview
{
	z-index: 10001;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width:100%;
	height:100%;
	background: rgba( 0,0,0,0.5 );
	overflow-x: hidden;
	overflow-y: auto;
}

.panel_content {
	/*margin: 80px 40px 20px 40px;*/
	margin: 80px 20px 40px 20px;
	text-align: left;
}

#inventory_panel .panel_content,
#inventory_preview .panel_content 
{
	display:block;
	float:left;
	margin-left: 20px;
	margin-right: 10px;
	height: auto;
	min-height:363px;
	overflow: hidden;
}

#inventory_preview .panel_content {
	width:1811px;
}

#inventory_info {
	position: fixed;
	top: 0px;
	width: 100%;
	text-align: center;
	height: 0px;
	margin: 0;
	margin-top: -100px;
}

@keyframes inventory_info_opening {
	0% {
		margin-top: -100px;
	}
	100% {
		margin-top: 0px;
	}
}

#inventory_info.opened {
	margin: 0;
	animation-name: inventory_info_opening;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
}

#inventory_info div {
	position: relative;
	margin: 20px auto 0 auto;
	background: rgba( 0,0,0,1 );
	padding: 5px 5px;
	display: inline-block;
	font-weight: bold;
}

#inventory_info span {
	white-space: nowrap;
}

@media ( max-width:1839px ) {
	#inventory_preview .panel_content { width:1630px; }
}
@media ( max-width:1659px ) {
	#inventory_preview .panel_content { width:1449px; }
}
@media ( max-width:1659px ) {
	#inventory_preview .panel_content { width:1449px; }
}
@media ( max-width:1479px ) {
	#inventory_preview .panel_content { width:1268px; }
}
@media ( max-width:1299px ) {
	#inventory_preview .panel_content { width:1087px; }
}
@media ( max-width:1119px ) {
	#inventory_preview .panel_content { width:906px; }
}
@media ( max-width:939px ) {
	#inventory_preview .panel_content { width:725px; }
}
@media ( max-width:759px ) {
	#inventory_preview .panel_content { width:544px; }
}
@media ( max-width:579px ) {
	#inventory_preview .panel_content { width:363px; }
	#ui_3d button,
	#about_panel button,
	#inventory_panel button,
	#inventory_info
	{ font-size: 0.8em; }
}
@media ( max-width:390px ) {
	#inventory_preview .panel_content { width:360px; }
	#ui_3d button,
	#about_panel button,
	#inventory_panel button,
	#inventory_info
	{ font-size: 0.7em; }
}

.panel_content a {
	color: #fff;
}
.panel_content .big {
	font-size: 1.2em;
	margin: 0 0 0.5em 0;
}
.panel_content .small {
	margin: 0 0 0.5em 0;
}
.panel_content .small,
.panel_content .chair,
.panel_content .chair_preview {
	font-family:space_monoregular;
}

.panel_content .chair_preview {
	float: left;
	display: block;
	width: 180px;
	height: 180px;
	border: 1px solid #fff;
	margin: 0 -1px -1px 0;
	overflow: hidden;
	background: #000;
	text-align: left;
	animation-name: chair_anim;
	animation-duration: 1s;
	animation-iteration-count: 1;
}
.panel_content .chair.odd { background: transparent; }
.panel_content .chair.even { background: transparent; }
.panel_content .chair_preview img {
	position: absolute;
	z-index: 1;
	margin: 0;
	width:180px;
	height:180px;
}

.panel_content .placeholder img {
	margin: 25px;
	width: 130px;
	height: 130px;
}

.panel_content .chair_preview .content {
	position: absolute;
	z-index: 2;
	width: 160px;
	height: 160px;
	margin: 10px;
	line-height: 160px;
	vertical-align: bottom;
}

.panel_content .chair_preview .wrapper {
	display: inline-block;
	vertical-align: bottom;
	line-height: 20px;
	font-size: 13px;
}

.panel_content .chair_preview .date:before,
.panel_content .chair_preview .time:before {
	content: " ";
	float:left;
	display: block;
	width:12px;
	height:12px;
	margin: 3px 3px 0 0;
	background-size: 12px 12px;
}
.panel_content .chair_preview .date:before {
	background-image: url( '../textures/icon-notestasks.png' );
}
.panel_content .chair_preview .time:before {
	background-image: url( '../textures/icon-timer.png' );
}

@keyframes chair_anim {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes chair_over {
	0% {
		width: 100%;
		height: 100%;
		margin: 0;
		/*background: transparent;*/
	}
	50% {
		width: 140%;
		height: 140%;
		margin: -20% 0 0 -20%;
	}
	75% {
		width: 110%;
		height: 110%;
		margin: -5% 0 0 -5%;
	}
	100% {
		width: 120%;
		height: 120%;
		margin: -10% 0 0 -10%;
		/*background: rgba( 0,0,0,0.9 );*/
	}
}

.panel_content .chair {
	float: left;
	display: block;
	width: 93px;
	height: 93px;
	background: transparent;
	text-align: left;
	animation-name: chair_anim;
	animation-duration: 1s;
	animation-iteration-count: 1;
}
.panel_content .chair.odd { /*background: transparent;*/ }
.panel_content .chair.even { /*background: transparent;*/ }
#inventory_panel .panel_content .chair .thumb a,
#inventory_panel .panel_content .chair .thumb button,
#inventory_preview .panel_content .chair .thumb a,
#inventory_preview .panel_content .chair .thumb button
{
	background: transparent;
	overflow: hidden;
	padding: 0;
	margin: 0;
	width: 93px;
	height: 93px;
}
.panel_content .chair .thumb img {
	margin: 0;
	width: 93px;
	height: 93px;
}
.panel_content .chair:hover .thumb img { 
	cursor: pointer;
	animation-name: chair_over;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
	/*background: rgba( 0,0,0,0.9 );*/
	width: 120%;
	height: 120%;
	margin: -10% 0 0 -10%;
}

#inventory_panel .panel_content .chair .thumb .seen:before {
	content: " ";
	position: absolute;
	z-index: 0;
	width:12px;
	height:12px;
	margin: 10px 0 0 10px;
	background-size: 12px 12px;
	background-image: url( '../textures/icon-eye.png' );
}

#inventory_panel .panel_content .chair .thumb .sel {
	-webkit-filter: invert(100%);
	filter: invert(100%);
}
#inventory_panel .panel_content .chair .thumb .sel:before {
	filter: invert(100%);
}

.panel_content .chair .wrapper {
	position: absolute;
	z-index: 1005;
	display:block;
	background: linear-gradient(to bottom, rgba(0,0,0,0.99), rgba(0,0,0,0.75));
	line-height: 20px;
	font-size: 13px;
	padding: 7px;
	visibility: hidden;
	width: 350px;
}

.panel_content .chair .wrapper div {
	float:left;
	display: block;
	clear: left;
}

.panel_content .chair .wrapper .diffuse {
	float:right;
	display: block;
	width: 100px;
	margin: 0 0 0 10px;
	background: url( '../textures/checkboard.png' );
	-webkit-box-shadow: 0px 0px 15px 0px rgba(110,100,100,0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(110,100,100,0.75);
	box-shadow: 0px 0px 15px 0px rgba(110,100,100,0.75);
}

.panel_content .chair .wrapper .name {
	font-size: 15px;
	text-transform: uppercase;
	margin: 4px 0 7px 0;
	border: 1px solid rgba(110,100,100,0.75);
	padding: 3px 7px;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.75), rgba(110,100,100,0.75));
	cursor: pointer;
}

@keyframes wrapper_name_hover {
	0% {
		margin: 4px 0 7px 0;
		padding: 3px 7px;
		border-color: rgba(110,100,100,0.75);
	}
	50% {
		margin: 4px 0 10px -6px;
		padding: 8px 15px;
	}
	100% {
		margin: 4px 0 10px -7px;
		padding: 6px 15px;
		border-color: rgba(220,205,205,0.99);
	}
}
.panel_content .chair .wrapper .name:hover {
	animation-name: wrapper_name_hover;
	animation-duration: 0.25s;
	animation-iteration-count: 1;
	margin: 4px 0 10px -7px;
	padding: 6px 15px;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.75), rgba(180,170,170,0.75));
	border-color: rgba(220,205,205,0.99);
}

.panel_content .chair .links a {
	float: left;
	display: inline;
	cursor: pointer;
	margin: 0 7px 0 0;
}

.panel_content .chair .name:before,
.panel_content .chair .date:before,
.panel_content .chair .duration:before,
.panel_content .chair .links a:before
{
	content: " ";
	float: left;
	display: inline;
	width:12px;
	height:12px;
	margin: 3px 3px 0 0;
	background-size: 15px 15px;
}
.panel_content .chair .name:before {
	background-image: url( '../textures/icon-load.png' );
}
.panel_content .chair .date:before {
	background-image: url( '../textures/icon-notestasks.png' );
}
.panel_content .chair .duration:before {
	background-image: url( '../textures/icon-timer.png' );
}
.panel_content .chair .links a:before {
	background-image: url( '../textures/icon-link.png' );
}


@keyframes chair_wrapper_hover {
	0% {
		opacity: 0;
		visibility: visible;
	}
	100% {
		opacity: 1;
	}
}
.panel_content .chair:hover > .wrapper {
	animation-name: chair_wrapper_hover;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	visibility: visible;
}

#model_loading {
	z-index: 10002;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: visible;
	background: rgba( 0,0,0,0.8 );
}

#loading_img {
	margin: 15% 0 0 0;
}
#loading_anim {
	margin: 5% 0 0 0;
}
#loading_anim img {
	-webkit-filter: invert(100%);
	filter: invert(100%);
	width: 60px;
}

#ui_3d,
#about_panel,
#inventory_panel,
#inventory_preview,
#model_loading
{ visibility: hidden; }

#inventory_panel.no_icon .goto_about,
#inventory_panel.no_icon .goto_back_right,
#inventory_preview.no_icon .goto_about,
#inventory_preview.no_icon .goto_back_right
{
	visibility: hidden;
}

@keyframes menu_opening_anim {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.menu_opening {
	opacity: 1;
	animation-name: menu_opening_anim;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
}

@keyframes loading_closed {
	0% { opacity: 1; visibility: visible; }
	100% { opacity: 0; visibility: hidden; }
}
#model_loading.closed {
	animation-name: loading_closed;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
}

@keyframes loading_open {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
#model_loading.open {
	animation-name: loading_open;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	visibility: visible;
	opacity: 1;
}
@keyframes loading_open_img {
	0% { width: 128px; }
	100% { width: 256px; }
}
#model_loading.open #loading_img {
	animation-name: loading_open_img;
	animation-duration: 8s;
	animation-iteration-count: 1;
}

@keyframes menu_closed {
	0% { margin-top: 0; }
	100% { margin-top: -50px; }
}
#ui_3d.closed {
	animation-name: menu_closed;
	animation-duration: 1s;
	animation-iteration-count: 100;
	margin-top: -50px;
}
@keyframes menu_opened {
	0% { margin-top: -50px; }
	100% { margin-top: 0; }
}
#ui_3d.opened {
	animation-name: menu_closed;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

@keyframes timeline_closed {
	0% { bottom: 0; }
	100% { bottom: -100px; }
}
#timeline.closed {
	animation-name: timeline_closed;
	animation-duration: 1s;
	animation-iteration-count: 1;
	bottom: -100px;
}

@keyframes timeline_opened {
	0% { bottom: -100px; }
	100% { bottom: 0; }
}
#timeline.opened {
	animation-name: timeline_opened;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
}

#timeline {
	z-index: 9999;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width:100%;
	background: rgba( 0,0,0,1 );
	font-family: 'space_monoregular';
	visibility: hidden;
}

#range_area {
	margin: 44px 85px 20px 15px;
}

#duration {
	position: absolute;
	right: 0;
	margin: -29px 15px 0 0;
	padding: 0;
	height: 20px;
	overflow: hidden;
	vertical-align: middle;
	visibility: hidden;
	font-size: 0.7em;
}

#production_duration {
	position: absolute;
	right: 1em;
	margin: -2em 0 0 0;
	padding: 0.1em 0.4em;
	background: rgba( 0,0,0,1 );
}

#model_info {
	position: absolute;
	right: 0px;
	margin: -57px 15px 0 0;
	text-align: right;
	font-size: 0.7em;
}

#display_info {
	position: absolute;
	right: 0;
	margin: -57px 15px 0 0;
	width: 24px;
	height: 24px;
}

#display_info img {
	width: 16px;
	height: 16px;
}

#model_shortcuts {
}

#model_shortcuts img {
		width: 50px;
}
#model_shortcuts a {
	text-decoration: none;
	padding: 3px;
	color: #f00;
	font-weight: bold;
	display: block;
	float:left;
	margin: -10px -6px;
}
#model_shortcuts a div {
	z-index: 9999;
	position: absolute;
	display:none;
	font-size: 12px;
	color: #000;
	background: #0ff;
	padding: 5px 10px;
	margin-top: -25px;
}
#model_shortcuts a:hover div {
		display:block;
}
#model_shortcuts a:hover img {
		color: #000;
		background: #0ff;
}

#info_canvas {
	visibility: hidden;
}